version: '3'

services:
    app_fe:
        platform: linux/amd64
        build:
            context: .
            dockerfile: Dockerfile
        container_name: app_fe
        restart: always
        tty: true
        extra_hosts:
            - host.docker.internal:host-gateway
        ports:
            - '3000:3000'
        env_file:
            - .env

    app_serverless:
        platform: linux/amd64
        build:
            context: .
            dockerfile: serverlessDockerfile
        container_name: app_serverless
        restart: always
        tty: true
        extra_hosts:
            - host.docker.internal:host-gateway
        ports:
            - '8000:8000'
        env_file:
            - .env
